body {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    text-justify: inter-ideograph;
    font-family: 'HiraMinProN-W3', 'メイリオ', 'MS UI Gothic', serif;
}

html {
    font-size: 1em;
}

p {
    padding: 0;
    margin-left:  0em;
    margin-right:  0em;
    text-indent: 1em;
}

pre {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

pre.src {
    font-family: Menlo, Consolas, 'Courier New', Courier, Monaco, monospace;
    padding-left: 1em;
    padding-right: 1em;
}

code {
    font-family: Menlo, Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 100%;
}


#text-table-of-contents ul {
    list-style-type: none;
}

h1 {
    border-left: 0.8em solid #d80000;
    border-right: 0.8em solid #d80000;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.outline-2 h2 {
    border-bottom: 3px solid #d80000;
    border-left: 0.8em solid #d80000;
    margin-top: 0;
    padding-left: 0.4em;
    font-size: 130%;
}

.outline-2 h3 {
    border-left: 0.6em solid #777777;
    padding-left: 0.4em;
}

#table-of-contents {
    padding-bottom: 1.5em;
}

div.outline-2 {
    padding-bottom: 1.5em;
}

.outline-3 h3 {
    font-size: 110%;
}

ul {
    margin-left: 0.5em;
}

ol {
    margin-left: 1.5em;
}

.org-ul li {
    padding-top:    0.25em;
    padding-bottom: 0.25em;
}

.org-ul li p {
    text-indent:   0em;
    margin-top:    0.25em;
    margin-bottom: 0.25em;
}

table {
    margin-top:    1em;
    margin-bottom: 1em;
    margin-left:   auto;
    margin-right:  auto;
    line-height:   1.8em;
}

td.org-left {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

td.org-right {
    padding-left: 0.5em;
    padding-right: 0.5em;
    white-space: nowrap;
}

tr:nth-child(even) {
    background: #f8f8f8;
}

img {
    max-width: 100%;
    height: auto !important;
}

caption {
    margin-top:    1.0em;
    font-family: monospace;
    caption-side: bottom;
}

.figure {
    line-height: 0;
    border:   1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    font-family: monospace;
    overflow: auto;
    padding: 0;
    margin-top:    1.0em;
    margin-bottom: 1.5em;
    margin-left:   0em;
    margin-right:  0em;
}

.figure p {
    margin:  0;
    padding: 1em;
    text-indent: 0em;
}

#copyright p {
    margin-left:  0em;
    margin-right: 0em;
    text-indent: 0em;
    font-size:   80%;
}
